.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    min-height: 70px;
    align-items: center;
    background-color: transparent;
    // box-shadow: 2px 2px 5px gray;
    .logo{
        color: red;
        font-size: 30px;
        font-weight: 700;
        cursor: pointer;
        &.white{
            color: #fff;
        }
    }
    .logout_icon{
        cursor: pointer;
    }
}