
.inputBox{
    border: none;
    background: transparent;
    width: 100%;
    padding: 5px 10px;
}
.inputBox:focus,.inputBox:active{
border: none;
outline: 1px solid #fff;
background-color: #fff;
}
.question{
    border-bottom: 1px solid #d1d1d1;
}
.question:last-child{
    border-bottom: none;
}