@import "../../styles/var";
.loading_wrapper{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(rgb(96, 96, 96),0.3);
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    // color: #fff;
    .loader{
        margin: 20px 0;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border-top: 2px solid  map-get($colors , "primary" );        ;
        animation: rotate 1s linear infinite;
    }
    @keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
}